WebServiceForConvertisseurMonnaieApp/web/WEB-INF/wsdl/localhost_8080/WebServiceForConvertisseurMonnaieApp/ConvertisseurMonnaieService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ConvertMoneyWs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ConvertMoneyWs/" name="ConvertisseurMonnaieService">
<types>
<xsd:schema>
<xsd:import namespace="http://ConvertMoneyWs/" schemaLocation="http://localhost:8080/WebServiceForConvertisseurMonnaieApp/ConvertisseurMonnaieService?xsd=1"/>
</xsd:schema>
</types>
<message name="connection">
<part name="parameters" element="tns:connection"/>
</message>
<message name="connectionResponse">
<part name="parameters" element="tns:connectionResponse"/>
</message>
<message name="historique">
<part name="parameters" element="tns:historique"/>
</message>
<message name="historiqueResponse">
<part name="parameters" element="tns:historiqueResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="DocumentException">
<part name="fault" element="tns:DocumentException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="connectionNetwork">
<part name="parameters" element="tns:connectionNetwork"/>
</message>
<message name="connectionNetworkResponse">
<part name="parameters" element="tns:connectionNetworkResponse"/>
</message>
<message name="networkCoursORlastCours">
<part name="parameters" element="tns:networkCoursORlastCours"/>
</message>
<message name="networkCoursORlastCoursResponse">
<part name="parameters" element="tns:networkCoursORlastCoursResponse"/>
</message>
<message name="lastConv">
<part name="parameters" element="tns:lastConv"/>
</message>
<message name="lastConvResponse">
<part name="parameters" element="tns:lastConvResponse"/>
</message>
<message name="Covert_Monnaie">
<part name="parameters" element="tns:Covert_Monnaie"/>
</message>
<message name="Covert_MonnaieResponse">
<part name="parameters" element="tns:Covert_MonnaieResponse"/>
</message>
<message name="cours">
<part name="parameters" element="tns:cours"/>
</message>
<message name="coursResponse">
<part name="parameters" element="tns:coursResponse"/>
</message>
<portType name="ConvertisseurMonnaie">
<operation name="connection">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/connectionRequest" message="tns:connection"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/connectionResponse" message="tns:connectionResponse"/>
</operation>
<operation name="historique">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/historiqueRequest" message="tns:historique"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/historiqueResponse" message="tns:historiqueResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/historique/Fault/SQLException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/historique/Fault/FileNotFoundException"/>
<fault message="tns:DocumentException" name="DocumentException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/historique/Fault/DocumentException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/historique/Fault/IOException"/>
</operation>
<operation name="connectionNetwork">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/connectionNetworkRequest" message="tns:connectionNetwork"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/connectionNetworkResponse" message="tns:connectionNetworkResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/connectionNetwork/Fault/IOException"/>
</operation>
<operation name="networkCoursORlastCours">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/networkCoursORlastCoursRequest" message="tns:networkCoursORlastCours"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/networkCoursORlastCoursResponse" message="tns:networkCoursORlastCoursResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/networkCoursORlastCours/Fault/SQLException"/>
</operation>
<operation name="lastConv">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/lastConvRequest" message="tns:lastConv"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/lastConvResponse" message="tns:lastConvResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/lastConv/Fault/SQLException"/>
</operation>
<operation name="Covert_Monnaie">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/Covert_MonnaieRequest" message="tns:Covert_Monnaie"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/Covert_MonnaieResponse" message="tns:Covert_MonnaieResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/Covert_Monnaie/Fault/SQLException"/>
</operation>
<operation name="cours">
<input wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/coursRequest" message="tns:cours"/>
<output wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/coursResponse" message="tns:coursResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/cours/Fault/SQLException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/cours/Fault/FileNotFoundException"/>
<fault message="tns:DocumentException" name="DocumentException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/cours/Fault/DocumentException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ConvertMoneyWs/ConvertisseurMonnaie/cours/Fault/IOException"/>
</operation>
</portType>
<binding name="ConvertisseurMonnaiePortBinding" type="tns:ConvertisseurMonnaie">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="connection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="historique">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="DocumentException">
<soap:fault name="DocumentException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="connectionNetwork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="networkCoursORlastCours">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="lastConv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="Covert_Monnaie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="cours">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="DocumentException">
<soap:fault name="DocumentException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ConvertisseurMonnaieService">
<port name="ConvertisseurMonnaiePort" binding="tns:ConvertisseurMonnaiePortBinding">
<soap:address location="http://localhost:8080/WebServiceForConvertisseurMonnaieApp/ConvertisseurMonnaieService"/>
</port>
</service>
</definitions>